# Visual Studio
.vs/
*.vcxproj.user
*.suo
*.ipch

# Build folders
x64/
Debug/
Release/
*/x64/
*/Debug/
*/Release/

# Logs / temp
*.log
*.tlog

# binaries
*.exe
*.pdb
*.dll
*.obj
*.ilk
*.idb

# CMake / Qt Creator (gui/)
build/
*/build/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CTestTestfile.cmake
*.user
.qtcreator/

# VS Code
.vscode/

dist/
